.hidden {
  display: none;
}

.icon {
  display: block;
  cursor: pointer;
  width: inherit;
  height: inherit;
  -webkit-mask: url(https://img.icons8.com/material-outlined/24/null/visible--v1.png)
    no-repeat center;
  background-color: #c8aa6e;
  -webkit-mask-size: 18px;

  &Hidden {
    @extend .icon;
    -webkit-mask: url(https://img.icons8.com/material-outlined/24/null/hide.png)
      no-repeat center;
    -webkit-mask-size: 18px;
  }
}
